body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #252525;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 5px;
}

a { 
  color: inherit;
  text-decoration: inherit;
}

button {
  border: 3px solid #20b2aa;
  border-radius: 3px;
  background-color: #20b2aa;
  color: #ffffff;
  display: block;
}

button:disabled {
  opacity: 0.6;
}

button:hover:enabled {
  cursor: pointer;
}

div.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

img.avatar {
  width: 25%;
  margin: 10px;
  float: left;
}

p.option {
  margin: 15px 10px;
  padding: 5px 5px;
  border-radius: 3px;
}

.center {
  text-align: center;
}

/* card */

div.card {
  width: 100%;
  min-height: 200px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  margin: 0;
  display: table;
}

div.card > .title {
  margin: 0;
  padding: 5px;
  background-color: #20b2aa;
  color: #ffffff;
}

div.card > div.detail {
  width: 70%;
  margin: 0;
  float: right;
}

div.card button {
  width: 80%;
  margin: 10px auto;
}

/* login */

select.dropdown {
  width: 80%;
  margin: 25px auto;
  display: block;
}

/* header */

nav.header {
  height: 50px;
  margin: 10px auto 0;
  display: block;
  border-bottom: 5px solid #20b2aa;
  position: relative;
}

ul.nav-bar {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 5%;
}

ul.nav-bar > li {
  width: 120px;
  height: 30px;
  border: 2px solid #d3d3d3;
  border-left: none;
  border-bottom: none;
  padding: 0;
  float: left;
}

ul.nav-bar:first-child {
  border-left: 2px solid #d3d3d3;
}

ul.nav-bar > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.nav-bar > li.active {
  background-color: #20b2aa;
  color: #ffffff;
  font-weight: bold;
}

div.auth-user {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

div.auth-user > img.avatar {
  height: 100%;
  margin: 0;
}

div.auth-user > p.name {
  margin: 8px;
}

button.signout {
  margin: 0;
  display: block;
}

/* question list */

ul.tabs {
  height: 30px;
  border: 2px solid #d3d3d3;
  border-bottom: none;
  margin: 0;
}

ul.tabs > li {
  width: 50%;
  height: 100;
  border-bottom: 2px solid #d3d3d3;;
  padding: 5px 0;
  background-color: #20b2aa;
  color: #ffffff;
  opacity: 0.6;
  font-size: large;
  text-transform: capitalize;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.tabs > li.active {
  border-bottom: none;
  background-color: #ffffff;
  color: #252525;
  opacity: 1;
  font-weight: bold;
}

ul.question-list {
  border: 2px solid #d3d3d3;
  border-top: none;
  margin-top: 0;
}

/* result */

p.option.mine {
  border: 3px solid #20b2aa;
  background-color: #a8f0ed;
  font-weight: bold;
}

div.vote-bar {
  background-color: #d3d3d3;
  height: 30px;
  width: 80%;
  margin: 20px auto;
  display: block;
  border-radius: 3px;
  font-size: larger;
}

div.vote-bar > div.bar {
  background-color: 'inherit';
}

div.vote-bar > div.bar.mine {
  background-color: #20b2aa;
  color: #ffffff;
  font-weight: bold;
}

/* new question */

div.card > input[type=text] {
  width: 80%;
  margin: auto;
  display: block;
}